<h1>
  This is homepage.
  <small>Lorem ipsum dolor sit amet, senserit hendrerit referrentur no vel, nam ei paulo tincidunt, ius congue aliquam in. Cum te putant quodsi, omnis mutat latine vis eu, timeam prompta honestatis vim ne. Veniam suavitate ei sea, qui modus affert at. Ex eos primis option senserit. Vocent intellegat ei vix, sit ne ludus perpetua.</small>
</h1>
<%= link_to 'About', about_path %>